<div class="feeds_body">
  <h1>新しい投稿</h1>
  <%= notice %><%= alert %>
  <%= render 'form', feed: @feed %>
</div>

<footer>
  <button type="button" name="button">
    <%= link_to '戻る', feeds_path %>
  </button>
</footer>
