body {
  padding-left: 1rem;
}

 .header{
    font-size: 2rem;
    padding: 1.5rem;
 }

 .field {
   font-size: 2rem;
 }

th{
  font-size: 1.5rem;
}

td {
  font-size: 2rem;
  padding: 1rem;
}

.toukou_button {
  font-size: 2rem;
}

.edit_footer {
  font-size: 2rem;
}
